<h1>Check out our Restaurants</h1>


<table class='table'>
  <tr>
    <th>Name</th>
    <th>Cuisine</th>
    <th>See</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td>
      <%= restaurant.name %>
    </td>
    <td>
      <%= restaurant.category %>
    </td>
    <td>
       <%= link_to '', restaurant_path(restaurant), class: 'fas fa-eye fa-lg' %>
    </td>
    <td>
      <%= link_to '', edit_restaurant_path(restaurant), class: 'far fa-edit fa-lg' %>
    </td>
    <td>
      <%= link_to '', restaurant_path(restaurant),method: :delete, data: { confirm: "Are you sure?" }, class: 'far fa-trash-alt fa-lg' %>
    </td>
  </tr>
  <% end %>
</table>


